image: node:lts

stages:
  - build
  - prepare-release
  - release
  - publish

cache: &global_cache
  paths:
    - {% if packageManager == "npm" %}.npm{% else %}.yarn/cache{% endif %}
{% if useLinting %}
lint:
  stage: build
  before_script:
    - {% if packageManager == "npm" %}npm ci --cache .npm --prefer-offline{% else %}yarn install --immutable{% endif %}
  script:
    - {% if packageManager == "npm" %}npm run{% else %}yarn{% endif %} lint
  cache:
    <<: *global_cache
{% endif %}{% if useTesting %}
test:
  stage: build
  before_script:
    - {% if packageManager == "npm" %}npm ci --cache .npm --prefer-offline{% else %}yarn install --immutable{% endif %}
  script:
    - {% if packageManager == "npm" %}npm run{% else %}yarn{% endif %} test:ci
  cache:
    <<: *global_cache
  artifacts:
    when: always
    reports:
      junit:
        - junit.xml
{% endif %}
build:
  stage: build
  before_script:
    - apt --yes update
    - apt --yes install jq
    - {% if packageManager == "npm" %}npm ci --cache .npm --prefer-offline{% else %}yarn install --immutable{% endif %}
  script: |
    jq '.version = $version | .url = $url | .manifest = $manifest | .download = $download' \
    --arg version "${CI_COMMIT_TAG:1}" \
    --arg url "$CI_PROJECT_URL" \
    --arg manifest "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/latest/{{type}}.json" \
    --arg download "$CI_PROJECT_URL/-/releases/$CI_COMMIT_TAG/downloads/{{type}}.zip" \
    src/{{type}}.json > src/tmp.$$.json
    mv src/tmp.$$.json src/{{type}}.json
    {% if packageManager == "npm" %}npm run{% else %}yarn{% endif %} build
  cache:
    <<: *global_cache
  artifacts:
    paths:
      - dist
    expire_in: 1 week

publish-artifacts:
  stage: prepare-release
  image: alpine:latest
  before_script:
    - apk update
    - apk add zip curl
  script: |
    cd dist
    zip -r ../{{type}}.zip .
    cd ..
    curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file {{type}}.zip "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/$CI_COMMIT_TAG/{{type}}.zip"
    curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file dist/{{type}}.json "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/$CI_COMMIT_TAG/{{type}}.json"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - echo 'release job'
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
  release:
    name: ${CI_COMMIT_TAG:1}
    tag_name: $CI_COMMIT_TAG
    description: "**Installation:** To manually install this release, please use the following manifest URL: $CI_PROJECT_URL/-/releases/$CI_COMMIT_TAG/downloads/{{type}}.json"
    assets:
      links:
        - name: "{{type}}.zip"
          url: "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/$CI_COMMIT_TAG/{{type}}.zip"
          filepath: /{{type}}.zip
          link_type: package
        - name: "{{type}}.json"
          url: "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/$CI_COMMIT_TAG/{{type}}.json"
          filepath: /{{type}}.json
          link_type: other

publish-latest-manifest:
  stage: publish
  image: alpine:latest
  before_script:
    - apk update
    - apk add zip curl
  script: |
    curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file dist/{{type}}.json "$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/generic/{{name}}/latest/{{type}}.json"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+\.[0-9]+$/'
