{% if useTypeScript %}const typescript = require('@rollup/plugin-typescript');
{% endif %}const { nodeResolve } = require ('@rollup/plugin-node-resolve');

module.exports = () => ({
  input: 'src/module/{{ name }}.{% if useTypeScript %}ts{% else %}js{% endif %}',
  output: {
    dir: 'dist/module',
    format: 'es',
    sourcemap: true,
  },
  plugins: [nodeResolve(){% if useTypeScript %}, typescript(){% endif %}],
});
