/**
 * This is your {{ language }} entry file for Foundry VTT.
 * Register custom settings, sheets, and constants using the Foundry API.
 * Change this heading to be more descriptive to your {{ type }}, or remove it.
 * Author: [your name]
 * Content License: [copyright and-or license] If using an existing system
 * 					you may want to put a (link to a) license or copyright
 * 					notice here (e.g. the OGL).
 * Software License: [your license] Put your desired license here, which
 * 					 determines how others may use and modify your {{ type }}.
 */

// Import {{ language }} modules
import { registerSettings } from './settings{% if not typescript %}.js{% endif %}';
import { preloadTemplates } from './preloadTemplates{% if not typescript %}.js{% endif %}';

// Initialize {{ type }}
Hooks.once('init', async () => {
  console.log('{{ shortTitle }} | Initializing {{ longTitle }}');

  // Assign custom classes and constants here

  // Register custom {{ type }} settings
  registerSettings();

  // Preload Handlebars templates
  await preloadTemplates();

  // Register custom sheets (if any)
});

// Setup {{ type }}
Hooks.once('setup', async () => {
  // Do anything after initialization but before
  // ready
});

// When ready
Hooks.once('ready', async () => {
  // Do anything once the {{ type }} is ready
});

// Add any additional hooks if necessary
