export async function preloadTemplates(){% if useTypeScript %}: Promise<Handlebars.TemplateDelegate[]>{% endif %} {
  const templatePaths = [
    // Add paths to "{{ type }}s/{{ name }}/templates"
  ];

  return loadTemplates(templatePaths);
}
