// SPDX-FileCopyrightText: 2022 Johannes Loher
//
// SPDX-License-Identifier: MIT

export async function preloadTemplates(){% if useTypeScript %}: Promise<Handlebars.TemplateDelegate[]>{% endif %} {
  const templatePaths{% if useTypeScript %}: string[]{% endif %} = [
    // Add paths to "{{ type }}s/{{ packageId }}/templates"
  ];

  return loadTemplates(templatePaths);
}
