// SPDX-FileCopyrightText: 2022 Johannes Loher
//
// SPDX-License-Identifier: MIT

export function registerSettings(){% if useTypeScript %}: void{% endif %} {
  // Register any custom {{ type }} settings here
}
