module.exports = {
{% if useTypeScript %}  parser: '@typescript-eslint/parser',

{% endif %}  parserOptions: {
    ecmaVersion: 2020,
    sourceType: 'module',
  },

  extends: [{% if useTypeScript %}'plugin:@typescript-eslint/recommended'{% else %}'eslint:recommended'{% endif %}, {% if useTesting %}'plugin:jest/recommended', {% endif %}'plugin:prettier/recommended'],

  plugins: [{{ eslintPlugins | join(", ") | safe }}],
  rules: {
    // Specify any specific ESLint rules.
  },
  overrides: [{% if useTypeScript %}
    {
      files: ['./*.js'],
      rules: {
        '@typescript-eslint/no-var-requires': 'off',
      },
    },{% else %}
    {
      files: ['./*.js'],
      env: {
        node: true,
      },
    },{% endif %}{% if useTesting %}
    {
      files: ['./test/**/*.js'],
      env: {
        'jest/globals': true,
      },
    },{% endif %}
  ],
};
